* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  width: 100%;
  min-height: 100vh;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  background-color: #b2b2b2;
  overflow-x: hidden;
}
